.home-page{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  .header-chat{
    width: 100%;
    padding: 2rem;
    border: .5rem solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-name{
      font-size: 2rem;
      font-weight: bold;
      font-style: italic;
    }
    .header-title{
      font-size: 2rem;
      font-weight: bold;
      font-style: italic;
    }
    .header-btn{
      border: none;
    }
  }
  .main{
    padding: 2rem;
    border: .5rem solid #000;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border: .5rem solid #000;
    .logo{
      width: 5rem;
    }
    .author-name{
      font-size: 2.4rem;
    }
  }
}