.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 50%;
}
.user .user-name {
    font-size: 2.4em;
    font-weight: bold;
    gap: 2rem;
}
.user .user-status {
    width: 1rem;
    height: 1rem;
    background-color: seagreen;
    border-radius: 100%;
    font-size: 2.4em;
    font-weight: bold;
}
.user .user-online {
    color: green;
}
.user .user-offline {
    color: red;
}
