:root {
    --md-filled-text-field-container-color: var(--md-sys-color-secondary);
    --md-filled-text-field-container-shape: var(--md-sys-shape-corner-extra-small);
    --md-filled-text-field-container-color: var(--md-sys-color-surface-container-highest);
    --md-filled-text-field-focus-active-indicator-color: var(--md-sys-color-on-primary);
}

.auth-page {
    background-color: var(--md-sys-color-on-primary);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-login {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 20rem;
        padding: 0.9rem;
        border-color: var(--md-sys-color-primary);
        border-radius: var(--md-sys-shape-corner-medium);
        border-width: 1px;
        border-style: solid;
        margin: 0 auto;
    }
}
