
.user-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user-name{
  width: max-content;
}
.user-status{

  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: var(--md-sys-color-secondary-container);
}

.online{
  background-color: var(--md-sys-color-primary-container);
}