.main {
  background: var(--md-sys-color-secondary);
  border-radius: var(--md-sys-shape-corner-small);

  display: grid;
   grid-template-columns: minmax(auto ,150px)  1fr;
   column-gap: 4px;
  overflow: hidden;
  height: 100%;

}
