@import "./styles/variables/var.css";
@import "./app/app.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --md-ref-typeface-brand: "Roboto";
  --md-ref-typeface-plain: system-ui;
}

html {
  font-size: var(--md-sys-typescale-);
  font-family: var(--md-ref-typeface-brand);
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--md-sys-color-on-background);
  overflow: hidden;
}
* {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
