.panel {
    display: flex;
}
:root {
    --md-filled-text-field-focus-active-indicator-color: var(--md-sys-color-on-tertiary);
    --md-filled-text-field-container-color: var(--md-sys-color-secondary);
    --md-filled-text-field-label-text-color: var(--md-sys-color-on-tertiary);
    --md-filled-text-field-input-text-color: var(--md-sys-color-surface-variant);
    --md-filled-text-focus-caret-color: var(--md-sys-color-surface-variant);
    --md-filled-text-focus-input-text-color: var(--md-sys-color-surface-variant);




    --md-filled-button-container-color: var(--md-sys-color-on-primary-container);
    --md-filled-button-container-shape: var(--md-sys-shape-corner-small);
}
