@import url("./styles/header.scss");
@import url("./styles/main.scss");
@import url("./styles/footer.scss");
.home-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.home-page .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border: 0.5rem solid #000;
}
.home-page .footer .logo {
    width: 5rem;
}
.home-page .footer .author-name {
    font-size: 2.4rem;
}
